@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Variable.woff2") format("woff2");
  font-weight: 100 900; /* or the range supported */
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Poppins", sans-serif;
}
html {
  @apply bg-neutral-100; /* Global background color */
  @apply text-neutral-800 text-sm; /* Global text color */
}

body {
  @apply mx-4 mt-4 mb-2 md:mx-8 lg:mx-16 xl:mx-32; /* Padding for the content area */
  @apply font-sans; /* Font for the content */
}

p {
  @apply normal-case;
}

h1 {
  @apply font-bold text-3xl uppercase;
}

h2 {
  @apply text-sm;
}

/* LINKS / NAVIGATION */

nav {
  @apply flex flex-col gap-2;
  @apply md:flex-row;
}
a,
button {
  @apply font-bold text-neutral-400 hover:text-neutral-800 uppercase;
  @apply border-1 border-neutral-400 hover:border-neutral-800;
  @apply py-2;
  @apply flex gap-4 items-center justify-center;
}
.active {
  @apply text-neutral-800;
  @apply border-neutral-800;
  /* other active styles */
}
.blogPostLink {
  @apply flex-col;
  @apply p-4;
}
.groupLink {
  @apply flex-1;
  @apply uppercase border-1;
  @apply px-4 py-2;
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

/* GALLERIES*/
.gallery {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2;
}
.previewGallery {
  @apply grid grid-cols-1 md:gap-4;
  @apply md:grid-cols-2;
  @apply lg:grid-cols-3;
}

.date {
  @apply font-normal text-neutral-800;
  @apply flex items-center;
}

.line {
  @apply my-4 w-full h-0.25 bg-neutral-500;
}

.navigation {
  @apply flex flex-col gap-2;
}

.logo {
  @apply w-full h-full md:h-[79px] aspect-[400/194];
  @apply block;
  @apply !text-neutral-700;

  /* Ensure no clipping */
  @apply overflow-visible;
}

a.active .logo {
  @apply text-neutral-500; /* Change the SVG color instead of background */
}

section {
  @apply flex flex-col;
}

text {
  @apply py-4 px-4;
}

/* CONTACTFORM */
form {
  @apply flex flex-col gap-2;
}
.formfield {
}
input,
textarea {
  @apply border-1;
  @apply text-neutral-800;
  @apply px-4 py-2;
  @apply w-full;
  @apply placeholder-neutral-400;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}
